---
import { contact } from "../settings";
---

<div class="mb-3">
    <strong>{contact.name}</strong>
    <br />
    {contact.street}
    <br />
    {contact.plz}
    {contact.city}
</div>
<div class="mb-3">
    Tel: <a href={`tel:${contact.phone}`}>{contact.phone}</a>
    <br />
    Mail: <a href={`mailto:${contact.mail}`}>{contact.mail}</a>
    <br />
    <div class="mt-2">
        <a class="btn btn-outline-primary" href={contact.mapUrl} target="_blank"
            >Karte</a
        >
    </div>
</div>
